---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "At the moment...",
    title: "MERN Stack",
    company: "PSquare Company",
    description:
      "As a MERN Stack Developer at PSquare Company, I build user-friendly interfaces with React.js and develop efficient server-side applications using Node.js, Express.js, and MongoDB. I create RESTful APIs, debug issues, and collaborate with teams to deliver scalable, high-quality web solutions.",
    link: "",
  },
  {
    date: "October 2023",
    title: "Full Stack Web Developer",
    company: "Cybtekk Itverse  LLP",
    description:
      "As a Full Stack Developer at Cybtekk Itverse  LLP, I design and develop responsive user interfaces with Svelte and implement robust server-side applications using Node.js, Express.js, and Postgres. I create RESTful APIs, troubleshoot issues, and deploy scalable web applications on Linode servers using Nginx and SSL, ensuring secure and efficient performance",
  },
  {
    date: "July 2023",
    title: "Intern",
    company: "Indian Space Research Organisation (ISRO)",
    description:
      "Utilized Python for geospatial data manipulation, including resampling and analysis of raster and vector data.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
